<header class="masthead  text-white text-center">
        <div class="container d-flex align-items-center flex-column">
    
          <!-- Masthead Avatar Image -->
          <img class="masthead-avatar mb-5" src="../../assets/images/avataaars.svg" alt="">
    
          <!-- Masthead Heading -->
          <h1 class="masthead-heading text-uppercase mb-0">Start Bootstrap</h1>
    
          <!-- Icon Divider -->
          <div class="divider-custom divider-light">
            <div class="divider-custom-line white_bg"></div>
            <div class="divider-custom-icon">
              <fa-icon [icon]="star" [spin]="true"></fa-icon>
            </div>
            <div class="divider-custom-line white_bg"></div>
          </div>
    
          <!-- Masthead Subheading -->
          <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
    
        </div>
      </header>