#about
{
    background-color: #1abc9c;
   
    padding-top:100px;
    padding-bottom:100px;

    .row
    {
        .text
        {
            font-size: 1.25rem;
            font-weight: 300;
        }
    }
    .about_button
{
    border: 2px solid #ffffff;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    width: 233px;
    height: 66px;
    line-height: 66px;
    font-size: 1.25rem;


    a{
       
        color: #ffffff;
        text-decoration: none;
        display: block;
        width: 233px;
        height: 66px;
        transition: 0.4s ease-in-out;
        &:hover 
        {
            color: #212529;
            background-color: #ffffff;
        }
    }
    
}




}









