<!-- Portfolio Modal 1 -->
<div id="portfolioModal" [ngClass]="{'ready': isReady== true} "  (click)="closeDialog()">
    <div class="container" (click)="$event.stopPropagation()">
            <button (click)="closeDialog()" type="button"  class="float-right cross_icon">
                    <span>
                        <fa-icon [icon]="['fas', 'times']"></fa-icon>
                    </span>
            </button>
        <div class="row sub_container">
            <div class="col-lg-8 offset-lg-2 text-center" >
                <!-- Portfolio Modal - Title -->
                <h2 class="text-uppercase heading star_dark">{{portfolioImage.title}}</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                    <div class="divider-custom-line dark_bg"></div>
                    <div class="divider-custom-icon  star_dark">
                            <fa-icon [icon]="['fas', 'star']" [spin]="true"></fa-icon>

                    </div>
                    <div class="divider-custom-line dark_bg"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="/assets/images/{{portfolioImage.image}}" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="text">{{portfolioImage.description}}</p>
                <button class="btn btn-primary close_btn" href="#" (click)="closeDialog()">
                        <fa-icon [icon]="['fas','times']"></fa-icon>
                    Close Window 
                </button>
            </div>
        </div>
    </div>
</div>





